
<p>Nothing here {{'yet' + '!'}}</p>

<div class="view-container">
    <div ng-view class="view-frame"></div>
</div>

@section SPAViews {

}
@section head{
    @Scripts.Render("~/bundles/app")
}
